<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
        <div class="card">
            <h3 class="card-header">Featured</h3>
  
            <form class="card-block">
              <div class="form-group">
                <label for="exampleInputName2">Username</label>
                <input type="text" class="form-control" ng-model="credentials.username" placeholder="Username">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail2">Password</label>
                <input type="password" class="form-control" ng-model="credentials.password" placeholder="password">
              </div>
              <button type="button" class="btn btn-primary" ng-click="login()">Login</button>
            </form>
        </div>
        </div>
    </div>

</div>

