Django==1.9
django-jsonschema==0.2.0
-e git+https://github.com/inmagik/django-rest-admin.git@ce1e425463dcdf22de14a6812d46ef2ecc99a268#egg=django_rest_admin-master
djangorestframework==3.3.2
wheel==0.24.0
wsgiref==0.1.2
