Django==1.9
django-jsonschema==0.2.0
-e git+https://github.com/inmagik/django-rest-admin.git@c5a8fd4120fcaf0f99d1f8bdcb6dbf7f419a1b5f#egg=django_rest_admin-master
djangorestframework==3.3.1
wheel==0.24.0
wsgiref==0.1.2
